.title, .text {
    color: var(--primary-color);
    font-family: var(--font-family-main);
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}

.primary {
    color: var(--secondary-color)
}

.error {
    .text {
        color: red;
    }

    .title {
        color: red;
    }
}

.warning {
    .text {
        color: darkorange;
    }

    .title {
        color: darkorange;
    }
}

.large {
    .title {
        font: var(--font-xl);
        font-weight: bold;
    }

    .text {
        font: var(--font-l);
    }
}

.medium {
    .title {
        font: var(--font-l);
        font-weight: bold;
    }

    .text {
        font: var(--font-m);
    }
}

.small {
    .title {
        font: var(--font-m);
        font-weight: bold;
    }

    .text {
        font: var(--font-s);
    }
}

.textType {
    .text {
        margin: 5px 0;
        text-indent: 20px;
    }

    .title {
        margin: 15px 0 5px;
    }
}


