.PageError {
    width: 100%;
    height: 100vh;
    background: var(--bg-color);
    overflow: hidden;
    font-family: Montserrat, sans-serif;
}

.error500 {
    color: var(--dark-red);
    font-size: 260px;
    line-height: 200px;
}

.error500Title {
    font-size: 40px;
    z-index: 10;
}